@tailwind base;
@tailwind components;
@tailwind utilities;


html[data-theme="night"] {
  background-color: black;
  color: white;
}

html[data-theme="day"] {
  background-color: white;
  color: black;
}html {
  scroll-behavior: smooth;
}
